@media (width<850px) {
    .table{
        font-size: 2vw !important;
        gap: 20px !important;
    }
}

@media (width<550px) {
    .container>div{
        font-size: 5vw !important;
    }
    .container>svg{
        width: 10vw !important;
        height: 10vw !important;
    }
    .details{
        font-size: 8px !important;
        gap: 20px !important;
    }
    .details>div{
        width: 50%;
    }
}