.btn{
    padding: 10px;
    background-color: var(--primary);
    color: white;
    overflow: hidden;
}
.btn:hover{
    background-color: var(--primary);
    color: white;
}
.btn svg{
    transition: all .5s;
}

.btn:hover svg{
    transform: translate(100px,-100px);
}

@media (width<800px) {
    .container{
        flex-direction: column !important;
    }
    .container>div{
        width: 100% !important;
    }
}