.icon{
    opacity: .6;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity .3s;
}
.icon:hover{
    opacity: 1;
}

@media (width<575px){
    .container{
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }
}