@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: rgb(0, 0, 0);
  --background: rgb(214, 219, 220);
  --primary: #3b82f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #eee;
    --background: #111;
  }
}

body {
  color: var(--color);
  background: var(--background);
}

.container {
  max-width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.theme {
  transition: all .5s;
}

.dark {
  color: var(--color);
  background: var(--background);
  --dots:#aaa;
}

.light {
  color: var(--background);
  background: var(--color);
  --dots:#333;
}